@mixin button {
    color: white;
    font-size: 18px;
    background-color: #E61818;
    margin-top: 15px;
    padding: 21px 33px 21px 25px;
    font-weight: 400;
    border: 1px solid #E61818;

    &:hover {
        cursor: pointer;
        color: #E61818;
        background-color: white;
        transition: .4s;
    }
}